* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;

  font-size: 62.5%;
}

html {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

main {
  margin-bottom: 25rem;
}

#logo {
  position: absolute;

  top: 1rem;
  left: 9.5%;

}

#logo img {
  width: 5rem;
}

#navbar {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  background-color: #161616;
  text-transform: uppercase;
  list-style: none;

  padding: 2rem;
}

#navbar li {
  margin: 0 1rem;
  padding: 0.5rem;
}

#navbar a {
  text-decoration: none;
  margin-right: 1rem;
  color: #FFFFFF;

  transition: .5s ease-in-out;
  font-size: 1.7rem;
  line-height: 1.5rem;
  font-weight: 700;
}

#navbar a:hover {
  color: #b993d8;
}

#title-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

#title-container h1 {
  font-size: 5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000;

  margin-bottom: 2rem;
}

#title-container p {
  font-size: 1.5rem;
  color: #0f0f0f;
  text-transform: uppercase;
}

#posts-container {
  display: flex;
  flex-wrap: wrap;

  max-width: 120rem;  
  margin: 0 auto;
  margin-top: 3rem;
}

.post-box:first-child {
  min-width: 100%;
}

.post-box {
  flex: 1 1 0;
  margin: 0 .5%;
  margin-bottom: 2rem;
}

.post-box:first-child {
  margin: 0;
  margin-bottom: 2rem;
}

.post-box img {
  width: 100%;
}

.post-box .post-title {
  font-size: 2.4rem;
  margin: 1rem 0;
}

.post-box .post-title a {
  color: #010005;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.post-box .post-title a:hover {
  color: #680db3;
}

.post-box .post-description {
  color: #242a30;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.tags-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tags-container a {
  font-size: 1.2rem;
  color: #161616;
  display: inline-block;
  margin-right: .5rem;
}

#post-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  grid-gap: 1rem;

  max-width: 120rem;
  padding-top: 3rem;
  margin: 0 auto;
  margin-bottom: 25rem;
}

.content-container {
  grid-area: main;
}

.nav-container {
  grid-area: sidebar;
}

#main-title {
  font-size: 3.6rem;
  line-height: 3rem;
  font-weight: 700;

  margin-bottom: 4rem;
}

.post-content p {
  line-height: 1.8rem;
  margin: 1rem 0;

  text-align: justify;
}


.img-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

}

#text-container {
  font-size: 1.5rem;
  line-height: 1.8;
}

.img-container img {
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#post-description {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 4rem;
}

#tag-title,
#categories-title {
  margin-bottom: 1rem;
  background-color: #000;
  padding: 1rem;
  
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: #FFF;
  text-align: center;
}

#tag-list,
#categories-list {
  list-style: none;
}

#tag-list li,
#categories-list li {
  margin-bottom: 1rem;
}

#tag-list a,
#categories-list a {
  color: #090a13;
  transition: .5 ease-in-out;

  font-size: 1.2rem;
  text-transform: uppercase;
}

#tag-list a:hover,
#categories-list a:hover {
  color: #4912a3;
  font-weight: bold;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #000;
  padding: 2.5rem 0;
  
  color: #fff;
  text-align: center;
  font-size: 2rem;
}